.footer {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   max-width: 1840px;
   margin: 0 auto;

   &__container {
      max-width: $width;
      margin: 0 auto;
      min-height: 87px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      padding: 10px 20px;
      justify-content: space-between;
      align-items: center;
   }

   @media (max-width: 500px) {
      &__container {
         justify-content: center;
      }
   }

   &__policy {
      font-size: 18px;
      line-height: 130%;
      color: $black;
      text-decoration: underline;
   }

   &__author {
      font-family: Raleway;
      font-size: 14px;
      font-weight: regular;

      a {
         font-size: 22px;
         font-weight: 900;
         letter-spacing: 2%;
         margin-left: 14px;
         color: $black;
      }
   }

   &__copyright {
      font-size: 18px;
      line-height: 130%;
      color: $black;
   }
}
